body {
    background-color: #820024;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

#design{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 300px;
    align-items: center;
    height: 60%;
}   

#txt{
    color: #820024;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin-top: 20px;
  }


  #link{
    color: #820024;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 55px;
    
  }